streamlit==0.82.0
pandas==0.24.1
numpy==1.19.2
scikit-learn==0.24.0
matplotlib==3.3.2
plotly==4.12.0
pvlib==0.8.1
python-docx==0.8.11
rdtools==2.0.5
scipy==1.5.2
seaborn==0.11.1
suntime==1.2.5
statsmodels==0.12.1

